/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on fiji
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
  enabled = true
  runOptions = "--bind /scratch,/Shares"
}

process {
  
  container = 'file:///Shares/layer_shared/singularity-cachedir/layer_lab_dna_seq_gatk_4.1.4.sif'
  executor = 'slurm'
  queue = 'long'
  time = '24h'
  cpus = 32
  cache = 'lenient'
  clusterOptions = '-n 1'
  maxForks = 24
}
env{
  ref="/Shares/layer_shared/ref"
  fiji_results_dir = "/Shares/layer_shared/projects/sequence_analysis"
  fiji_dbsnp = "$ref/gatk/hg38/dbsnp_146.hg38.vcf.gz"
  fiji_ensembl_gene_annotation = "$ref/ensembl/Homo_sapiens.GRCh37.82.gff3.gz"
  fiji_known_indels = "$ref/gatk/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
  fiji_ref_fasta = "$ref/hg38/GRCh38_full_analysis_set_plus_decoy_hla.fa"
  fiji_accessible_regions= "$ref/hg37/access-5k-mappable.grch37.bed"
  fiji_ref_dict = "$ref/hg38/GRCh38_full_analysis_set_plus_decoy_hla.dict"
  fiji_gnomad_genome = "$ref/gatk/hg38/gnomad.genomes.r3.0.sites.vcf.gz"
  fiji_af_only_gnomad = "$ref/gatk/hg37/af-only-gnomad.raw.sites.b37.vcf.gz"
  fiji_af_only_snp_only_gnomad="$ref/gatk/hg37/af-only-snp-only-gnomad.vcf"
  fiji_gnomad_ref = "$ref/slivar/gnomad.hg37.zip"
  fiji_cosmic_coding = "$ref/cosmic/CosmicCodingMuts.vcf"
  fiji_cosmic_genes = "$ref/cosmic/cosmic_genes.txt"
  fiji_homo_sapiens_genes = "$ref/genes/Homo_sapiens.GRCh38.98.chr.genes.bed"
  fiji_homo_sapiens_exons = "$ref/genes/Homo_sapiens.GRCh38.98.chr.exons.bed"

  fiji_intervals_list = "$ref/exome_capture_lists/S07604715_hs_hg38/S07604715_Covered.bed"
  fiji_intervals_list_unannotated = "$ref/exome_capture_lists/S07604715_hs_hg19/S07604715_Covered_unannotated.bed"
  fiji_cadd = "$ref/pathoscore/whole_genome_SNVs.tsv.gz"
  fiji_mpc = "$ref/pathoscore/mpc.txt.gz"

}

